body {
  padding-top: 4rem;
}

@media (min-width: 768px) {
  body {
    background-color: #f9f9f9;
  }
}

a {
  color: #3182CE;
}

a:hover {
  color: #2B6CB0;
}

.main-content {
  background-color: #fff;
}

@media (min-width: 768px) {
  .main-content {
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
}

.page-title {
  margin-bottom: 1.5rem;
  font-weight: lighter;
}

.hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-color: rgba(79, 209, 197, 0.4);
}

.has-task {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #f6ad55;
  border-radius: 50%;
  vertical-align: middle;
}

.main-navbar {
  min-height: 4rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
}

.main-navbar .navbar-brand {
  display: flex;
  align-items: center;
  height: 4rem;
}

@media (min-width: 768px) {
  .main-navbar .navbar-brand {
    padding-bottom: 0.1625rem;
    border-bottom: 0.15rem solid transparent;
  }

  .main-navbar .navbar-brand.active {
    border-color: #4fd1c5;
  }
}

.main-navbar .navbar-nav .nav-link {
  color: #767676;
}

@media (min-width: 768px) {
  .main-navbar .nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    padding-bottom: 0.35rem;
    border-bottom: 0.15rem solid transparent;
  }

  .main-navbar .active > .nav-link {
    border-color: #4fd1c5;
  }
}

.main-navbar .dropdown-menu {
  border-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
  .main-navbar .dropdown-item {
    white-space: normal;
  }
}

.main-navbar .dropdown-item.active,
.main-navbar .dropdown-item:active {
  color: inherit;
  background: #e9ecef;
}

.navbar-current-groups .dropdown {
  position: unset;
}

.navbar-current-groups .dropdown-menu {
  position: fixed;
  top: 4rem;
  right: 0;
  left: 0;
  margin-top: -1px;
}

@media (max-width: 767px) {
  .main-sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
  }
}

.main-sidebar .card {
  border-color: rgba(0, 0, 0, 0.05);
}

.main-sidebar .card-header {
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 0;
  background-color: transparent;
}

.main-sidebar .card-header span {
  padding-bottom: 2px;
  border-bottom: 2px solid #4fd1c5;
}

.main-sidebar .list-group {
  border-top: 0;
}

.main-sidebar .list-group-item {
  border: 0;
}

.main-sidebar .list-group-item.active {
  margin: 0 !important;
  border-top-width: 0 !important;
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.main-sidebar .list-group-item.active:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  left: 0;
  width: 2px;
  background-color: #4fd1c5;
}

.error-code {
  margin-bottom: 2rem;
  font-size: 7rem;
}

.error-code small {
  display: block;
  font-size: 20%;
}

.error-code small:before {
  content: "";
  display: block;
  width: 4rem;
  height: 0.25rem;
  margin: 1.5rem auto;
  background-color: #4fd1c5;
}

@media (max-width: 767px) {
  .group-info .group-info-item {
    display: block;
  }

  .group-info .group-info-item + .group-info-item {
    margin-top: 0.3rem;
  }
}

@media (min-width: 768px) {
  .group-info .group-info-item + .group-info-item:before {
    content: "/";
    display: inline-block;
    margin: 0 0.5rem;
  }
}

@media (min-width: 1px) and (max-width: 767px) {
  .articles-grid[data-columns]::before {
    content: "2 .col-6 px-2";
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .articles-grid[data-columns]::before {
    content: "2 .col-md-6 px-2";
  }
}

@media (min-width: 1200px) and (max-width: 9999px) {
  .articles-grid[data-columns]::before {
    content: "3 .col-xl-4 px-2";
  }
}

.index-article {
  z-index: 1;
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.05);
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.index-article + .index-article {
  margin-top: 1rem;
}

.index-article:active .card-body:after,
.index-article:focus .card-body:after,
.index-article:hover .card-body:after {
  text-decoration: underline;
}

.index-article .card-img-overlay {
  padding: 0;
}

.index-article .card-title {
  padding: 0.5rem;
  margin-bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.index-article .card-body {
  color: #000;
}

.index-article .card-body p:last-child {
  margin-bottom: 0;
}

.index-article .article-text {
  overflow: hidden;
}

.index-article #articleText1 {
  max-height: 3rem;
}

@media (min-width: 768px) {
  .index-article #articleText1 {
    max-height: 5rem;
  }
}

@media (min-width: 1200px) {
  .index-article #articleText1 {
    max-height: 14rem;
  }
}

.index-article #articleText2 {
  max-height: 3rem;
}

@media (min-width: 768px) {
  .index-article #articleText2 {
    max-height: 10rem;
  }
}

@media (min-width: 1200px) {
  .index-article #articleText2 {
    max-height: 10rem;
  }
}

.index-article #articleText3 {
  max-height: 3rem;
}

@media (min-width: 768px) {
  .index-article #articleText3 {
    max-height: 7rem;
  }
}

@media (min-width: 1200px) {
  .index-article #articleText3 {
    max-height: 18rem;
  }
}

.index-article #articleText4 {
  max-height: 3rem;
}

@media (min-width: 768px) {
  .index-article #articleText4 {
    max-height: 8rem;
  }
}

@media (min-width: 1200px) {
  .index-article #articleText4 {
    max-height: 10rem;
  }
}

.index-article #articleText5 {
  max-height: 3rem;
}

@media (min-width: 768px) {
  .index-article #articleText5 {
    max-height: 7rem;
  }
}

@media (min-width: 1200px) {
  .index-article #articleText5 {
    max-height: 30rem;
  }
}

.index-article #articleText6 {
  max-height: 3rem;
}

@media (min-width: 768px) {
  .index-article #articleText6 {
    max-height: 10rem;
  }
}

@media (min-width: 1200px) {
  .index-article #articleText6 {
    max-height: 20rem;
  }
}

.index-article #articleText7 {
  max-height: 3rem;
}

@media (min-width: 768px) {
  .index-article #articleText7 {
    max-height: 9rem;
  }
}

@media (min-width: 1200px) {
  .index-article #articleText7 {
    max-height: 15rem;
  }
}

.groups-grid .card-group-info + .card-group-info {
  margin-top: 1.25rem;
}

@media (min-width: 768px) {
  .groups-grid .card-group-info .col-img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
  }

  .groups-grid .card-group-info .card-bg-image {
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }

  .groups-grid .card-group-info + .card-group-info {
    margin-top: -0.5rem;
  }

  .groups-grid .card-group-info:nth-child(even) {
    margin-left: 0.5rem;
  }

  .groups-grid .card-group-info:nth-child(odd) {
    margin-right: 0.5rem;
  }
}

.card-group-info {
  color: inherit;
  border-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.15s ease-in-out;
}

@media (min-width: 768px) {
  .card-group-info {
    box-shadow: 0 -0.275rem 0.55rem rgba(0, 0, 0, 0.075);
  }
}

.card-group-info:active,
.card-group-info:focus,
.card-group-info:hover {
  color: inherit;
  background-color: #f8f9fa;
  text-decoration: none;
}

@media (min-width: 768px) {
  .card-group-info:active,
  .card-group-info:focus,
  .card-group-info:hover {
    z-index: 1;
    margin-top: 0.5rem !important;
    margin-bottom: 1rem;
    box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.075);
    transform: scale(1.03);
  }
}

.card-group-info:active .card-bg-image,
.card-group-info:focus .card-bg-image,
.card-group-info:hover .card-bg-image {
  opacity: 0.8;
}

.card-group-info .col-img {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.card-group-info .card-bg-image {
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.15s ease-in-out;
}

.card-group-info .card-title {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.input-contacto,
#mensaje {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

/* Style the submit button with a specific background color etc */

#contacto-enviar {
  background-color: #4fd1c5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

#contacto-enviar:hover {
  background-color: #4fd1c5;
}

/* Add a background color and some padding around the form */

.contacto-container {
  border-radius: 5px;
  padding: 20px;
}


/*# sourceMappingURL=main.css.map*/