.main-navbar {
  min-height: $main-navbar-height;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-white;

  .navbar-brand {
    display: flex;
    align-items: center;
    height: $main-navbar-height;

    @media (min-width: 768px) {
      padding-bottom: 0.1625rem;
      border-bottom: 0.15rem solid transparent;
      &.active {
        border-color: $color-teal;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: #767676;
    }
  }

  @media (min-width: 768px) {
    .nav-link {
      display: flex;
      align-items: center;
      height: 4rem;
      padding-bottom: 0.35rem;
      border-bottom: 0.15rem solid transparent;
    }

    .active {
      > .nav-link {
        border-color: $color-teal;
      }
    }
  }

  .dropdown-menu {
    border-color: rgba(0, 0, 0, 0.05);
  }

  .dropdown-item {
    @media (max-width: 767px) {
      white-space: normal;
    }

    &.active, &:active {
      color: inherit;
      background: #e9ecef;
    }
  }
}

.navbar-current-groups {
  .dropdown {
    position: unset;
  }

  .dropdown-menu {
    position: fixed;
    top: $main-navbar-height;
    right: 0;
    left: 0;
    margin-top: -1px;
  }
}
