.main-sidebar {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    position: sticky;
    top: $main-navbar-height;
  }

  .card {
    border-color: rgba(0, 0, 0, 0.05);
  }

  .card-header {
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom: 0;
    background-color: transparent;

    span {
      padding-bottom: 2px;
      border-bottom: 2px solid $color-teal;
    }
  }

  .list-group {
    border-top: 0;
  }

  .list-group-item {
    border: 0;

    &.active {
      margin: 0 !important;
      border-top-width: 0 !important;
      color: inherit;
      background-color: inherit;
      border-color: inherit;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0.75rem;
        bottom: 0.75rem;
        left: 0;
        width: 2px;
        background-color: $color-teal;
      }
    }
  }
}
