<template>
  <div class="container">
    <!-- Delete Modal content pop up -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Estás seguro de que querés borrar el texto con todas sus
              conexiones?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" id="delete-btn" class="btn btn-danger" @click="deleteText" value="">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal content pop up -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">¿Querés editar este texto y sus conexiones?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" id="edit-btn" class="btn btn-primary" @click="editText" value="">Editar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Main content -->

 <vue-custom-scrollbar class="scroll-area"  :settings="scrollbarSettings">
    <div class="d-flex flex-row flex-nowrap" id="slider">
      <div class="col-sm-12 col-lg-6 father" v-for="texto in allTexts" @click="toggleText('father', texto.id, $event)">
        <div class="card h-100 mr-2">
          <div class="card-body" v-bind:id="'father-' + texto.id">
            <mySVG icon="trash-bin" class="trash-bin-icon" data-toggle="modal" data-target="#deleteModal"
              v-bind:data-text="texto.id"></mySVG>
            <mySVG icon="pencil" class="pencil-icon" data-toggle="modal" data-target="#editModal"
              v-bind:data-text="texto.id"></mySVG>
            <p class="card-text">{{ texto.texto }}</p>
          </div>
        </div>
      </div>
    </div>
  </vue-custom-scrollbar>
    
    <form @submit.prevent="submitText" :action="fetchUrl" method="post" accept-charset="UTF-8" ref="form">
      <div class="row mt-5">
        <div class="col justify-content-center">
          <vue-easymde v-model="currentInputText" ref="markdownEditor" :configs="easyMDEconfigs" />
        </div>
      </div>
      <div class="row mb-3 mt-3 ">
        <div class="col d-flex justify-content-center">
          <input type="text" id="tag-input" v-model="currentTagText"
            placeholder=" Insertar tags (palabras separadas con coma)">
            <button type="submit" class="btn btn-sm btn-primary">
              <span>Guardar</span>
            </button>
        </div>
        
      </div>
      <div class="row justify-content-center mb-5">
          <div v-for="tag in currentTags" class="chip chip-md indigo darken-1 white-text example z-depth-2  mr-0 mb-2"
            @click="addInputTag">
            <div class="col-4 text-center" id="tag-column">
              &nbsp;{{ tag }}
            </div>
          </div>
        </div>
      
    </form>
    <vue-custom-scrollbar class="scroll-area"  :settings="scrollbarSettings">
    <div class="d-flex flex-row flex-nowrap" id="slider">
      <div class="col-sm-12 col-lg-6 son" v-for="texto in allTexts" @click="toggleText('son', texto.id, $event)">
        <div class="card h-100 mr-2">
          <div class="card-body" v-bind:id="'son-' + texto.id">
            <mySVG icon="trash-bin" class="trash-bin-icon" data-toggle="modal" data-target="#deleteModal" 
            v-bind:data-text="texto.id"></mySVG>
            <mySVG icon="pencil" class="pencil-icon" data-toggle="modal" data-target="#editModal"
            v-bind:data-text="texto.id"></mySVG>
            <p class="card-text">{{ texto.texto }}</p>
          </div>
        </div>
      </div>
    </div>
    </vue-custom-scrollbar>
  </div>

</template>

<script>
import { crudMixin } from '../mixins/crudMixin.js';
import SvgVue from 'svg-vue';
import VueEasymde from "vue-easymde";
import vueCustomScrollbar from 'vue-custom-scrollbar'
import "vue-custom-scrollbar/dist/vueScrollbar.css"
export default {
  mixins: [crudMixin],
  mounted() {
    console.log('Component mounted.')
  },
  props: {
    // URL desde la que se trae el listado inicial
    fetchUrl: {
      type: String,
      required: true,
    },
  },
  components: {
    mySVG: SvgVue,
    VueEasymde,
    vueCustomScrollbar
  }
}
</script>

<style scoped>
@import "~easymde/dist/easymde.min.css";

@keyframes fade-in {
  from {
    opacity: 0%
  }

  to {
    opacity: 100%
  }
}

#tag-column {
    cursor: pointer;
}
.pencil-icon,
.trash-bin-icon {
  opacity: 0%;
  margin: 0px 5px;
  height: 1rem;
  width: 1rem;
  float: right;
}

.card-body:hover .pencil-icon,
.card-body:hover .trash-bin-icon {
  opacity: 100%;
  cursor: pointer;
  animation: fade-in;
  animation-duration: 0.5s;
}

.card-body:hover {
  cursor: pointer;
}

#tag-input {
  width: 50%;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.modal-footer,
.modal-header {
  border: 0;
}

#tag-input:focus {
  outline: none !important;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

</style>
