<template>
    <div class="container" style="padding-top: 6rem">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div id="up-btn" @click="moveUp(fetchUrl)"><mySVG icon="arrow" class="arrow-icon"></mySVG></div>
                <div class="pasaje" id="pasaje_top">
                    {{ father.texto }}
                </div>
                <div class="pasaje" id="pasaje_mid">
                    {{ holySpirit.texto }}
                </div>
                <div class="pasaje" id="pasaje_bot">
                    {{ son.texto }}
                </div>
                <div id="down-btn" @click="moveDown(fetchUrl)"><mySVG icon="arrow" class="arrow-icon"></mySVG></div>
            </div>
        </div>
        <div class = "container mt-5">
        <hr> 
        <!-- Esto tendria que ser un componente separado -->

        <div class="row justify-content-center">
            <div v-for="tag in currentTags" class="chip chip-md indigo darken-1 white-text example z-depth-2  mr-0 mb-2" @click="getByTag">
                <div class="col-4 text-center" id="tag-column">
                &nbsp;{{ tag }}
                </div>
            </div>
          </div>
       
      </div>
    </div>
    
</template>

<script>
    import { crudMixin } from '../mixins/crudMixin.js';
    import SvgVue from 'svg-vue';
    export default {
        mixins: [crudMixin],
        mounted() {
            console.log('Component mounted.')
        },
        props: {
            // URL desde la que se trae el listado inicial
            fetchUrl: {
                type: String,
                required: true,
            },
        },
        components: {
            mySVG: SvgVue
        }
    }
</script>

<style scoped>
@keyframes fade-in {
    from { opacity: 0% }
    to { opacity: 100% }
}
.arrow-icon {
    height: 1rem;
    width: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#tag-column {
    cursor: pointer;
}

.pasaje {
    padding: 1rem;
}

#pasaje_top, #pasaje_mid, #pasaje_bot {
    animation: fade-in;
    animation-duration: 1s;
}

#up-btn {
    margin-bottom: 2rem;
    height: 10%;
    width: 10%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
#down-btn {
    margin-top: 2rem;
    height: 10%;
    width: 10%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transform: rotate(180deg) scaleX(-1);
}
.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
  }
  
  .chip.chip-md .close {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
  }
  .center {
    text-align:center;
  }
</style>
