body {
  padding-top: $main-navbar-height;
  @media (min-width: 768px) {
    background-color: $bg-color;
  }
}

a {
  color: #3182CE;

  &:hover {
    color: #2B6CB0;
  }
}

.main-content {
  background-color: $color-white;
  @media (min-width: 768px) {
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
  }
}

.page-title {
  margin-bottom: 1.5rem;
  font-weight: lighter;
}

.hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-color: rgba($color-teal, 0.4);
}

.has-task {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: $color-orange;
  border-radius: 50%;
  vertical-align: middle;
}
