.input-contacto, #mensaje {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  #contacto-enviar {
    background-color: rgb(79, 209, 197);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  #contacto-enviar:hover {
    background-color: rgb(79, 209, 197);
  }
  
  /* Add a background color and some padding around the form */
  .contacto-container {
    border-radius: 5px;
    padding: 20px;
  }