.error-code {
  margin-bottom: 2rem;
  font-size: 7rem;

  small {
    display: block;
    font-size: 20%;

    &:before {
      content: '';
      display: block;
      width: 4rem;
      height: 0.25rem;
      margin: 1.5rem auto;
      background-color: $color-teal;
    }
  }
}
