.group-info {
  .group-info-item {
    @media (max-width: 767px) {
      display: block;
      + .group-info-item {
        margin-top: 0.3rem;
      }
    }
    @media (min-width: 768px) {
      + .group-info-item {
        &:before {
          content: '/';
          display: inline-block;
          margin: 0 0.5rem;
        }
      }
    }
  }
}
