// Salvattore
.articles-grid[data-columns]::before {
  @media (min-width: 1px) and (max-width: 767px) {
    content: '2 .col-6 px-2';
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    content: '2 .col-md-6 px-2';
  }
  @media (min-width: 1200px) and (max-width: 9999px) {
    content: '3 .col-xl-4 px-2';
  }
}

.index-article {
  z-index: 1;
  overflow: hidden;
  border-color: rgba(0, 0, 0, 0.05);
  background-color: transparent;
  color: #fff;
  cursor: pointer;

  + .index-article {
    margin-top: 1rem;
  }

  &:active, &:focus, &:hover {
    .card-body:after {
      text-decoration: underline;
    }
  }

  .card-img-overlay {
    padding: 0;
  }

  .card-title {
    padding: 0.5rem;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card-body {
    color: #000;

    p:last-child {
      margin-bottom: 0;
    }

    //&:after {
    //  content: 'Leer más...';
    //  display: block;
    //  position: absolute;
    //  right: 1.25rem;
    //  bottom: 0.2rem;
    //  left: 1.25rem;
    //  padding: 0.1rem 0;
    //  text-align: center;
    //  background-color: $color-white;
    //  border-top: 1px solid #e3e3e3;
    //  box-shadow: 0 -9px 7px -7px rgba(0, 0, 0, 0.2);
    //}
  }

  .article-text {
    overflow: hidden;
  }

  #articleText1 {
    max-height: 3rem;
    @media (min-width: 768px) {
      max-height: 5rem;
    }
    @media (min-width: 1200px) {
      max-height: 14rem;
    }
  }

  #articleText2 {
    max-height: 3rem;
    @media (min-width: 768px) {
      max-height: 10rem;
    }
    @media (min-width: 1200px) {
      max-height: 10rem;
    }
  }

  #articleText3 {
    max-height: 3rem;
    @media (min-width: 768px) {
      max-height: 7rem;
    }
    @media (min-width: 1200px) {
      max-height: 18rem;
    }
  }

  #articleText4 {
    max-height: 3rem;
    @media (min-width: 768px) {
      max-height: 8rem;
    }
    @media (min-width: 1200px) {
      max-height: 10rem;
    }
  }

  #articleText5 {
    max-height: 3rem;
    @media (min-width: 768px) {
      max-height: 7rem;
    }
    @media (min-width: 1200px) {
      max-height: 30rem;
    }
  }

  #articleText6 {
    max-height: 3rem;
    @media (min-width: 768px) {
      max-height: 10rem;
    }
    @media (min-width: 1200px) {
      max-height: 20rem;
    }
  }

  #articleText7 {
    max-height: 3rem;
    @media (min-width: 768px) {
      max-height: 9rem;
    }
    @media (min-width: 1200px) {
      max-height: 15rem;
    }
  }
}

.groups-grid {
  .card-group-info {
    + .card-group-info {
      margin-top: 1.25rem;
    }

    @media (min-width: 768px) {
      .col-img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.25rem;
      }

      .card-bg-image {
        border-top-right-radius: 0;
        border-bottom-left-radius: calc(0.25rem - 1px);
      }

      + .card-group-info {
        margin-top: -0.5rem;
      }

      &:nth-child(even) {
        margin-left: 0.5rem;
      }

      &:nth-child(odd) {
        margin-right: 0.5rem;
      }
    }
  }
}

.card-group-info {
  color: inherit;
  border-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.15s ease-in-out;

  @media (min-width: 768px) {
    box-shadow: 0 -0.275rem 0.55rem rgba(0, 0, 0, 0.075);
  }

  &:active, &:focus, &:hover {
    color: inherit;
    background-color: #f8f9fa;
    text-decoration: none;

    @media (min-width: 768px) {
      z-index: 1;
      margin-top: 0.5rem !important;
      margin-bottom: 1rem;
      box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.075);
      transform: scale(1.03);
    }

    .card-bg-image {
      opacity: 0.8;
    }
  }

  .col-img {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }

  .card-bg-image {
    width: 100%;
    height: 100%;
    padding-top: 56.25%; // 16:9
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.15s ease-in-out;
  }

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}
