// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import
  'variables',
  'frontend/abstracts/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'frontend/layout/navbar';

// Vendor
@import
  '~easymde/dist/easymde.min.css',
  '~jasny-bootstrap/scss/build/variables',
  '~jasny-bootstrap/scss/fileinput',
  '~vue-multiselect/dist/vue-multiselect.min.css';

.fileinput {
  .img-thumbnail {
    line-height: 1 !important;

    img {
      display: block;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      border-radius: .25rem;
      transition: all .2s ease-in-out;
    }
  }
}

.alert:empty {
  padding: 0;
  margin: 0 !important;
  border: 0;
}

.alert-snackbar-container {
  position: fixed;
  bottom: 0;
  right: 15px;
  left: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.alert-snackbar {
  max-width: 500px;
}

.table-btns {
  width: 1px;
  text-align: right;
  white-space: nowrap;
}

td.td-truncate {
  width: 100%;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
